@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html,
body,
#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  user-select: none;
}
input {
  outline: none;
}
input::placeholder {
  color: white; /* 设置颜色为白色 */
  opacity: 0.3; /* 可选：调整透明度，确保颜色清晰可见 */
}
input::-webkit-input-placeholder {
  color: white; /* Chrome/Opera/Safari */
}
input::-moz-placeholder {
  color: white; /* Firefox 19+ */
}
input:-ms-input-placeholder {
  color: white; /* IE 10+ */
}
input:-moz-placeholder {
  color: white; /* Firefox 18- */
}
@font-face {
  font-family: 'NewEddy';
  src: url(@/assets/fonts/NewEddy-Display.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  src: url(@/assets/fonts/Lato-Regular.ttf);
  font-display: swap;
}
font-faace {
  font-family: 'PoppinsMedium';
  src: url(@/assets/fonts/Poppins-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'PoppinsLight';
  src: url(@/assets/fonts/Poppins-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'PoppinsRegular';
  src: url(@/assets/fonts/Poppins-Regular.ttf);
  font-display: swap;
}
